.main-title {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 140px;
    color: #373737;
}

.main-subtitle-1 {
    font-size: 60px;
    color: #4abdac;
    display: inline;
}

.main-subtitle-2 {
    font-size: 60px;
    color: #f7b733;
    display: inline;
}

.main-subtitle-3 {
    font-size: 60px;
    color: #fc4a1a;
    display: inline;
}

.title-div {
    text-align: center;
    margin-bottom: 130px;
}

.subtitle-div {
    margin-top: -40px;
}

.button-div-wrapper {
    text-align: center;
}