table{
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    width: 1200px;
    border-collapse: collapse;
}

th, td {
    width: 600px;
    border-bottom: 2px solid #999;
    padding: 8px;
}

h3 {
    font-size: 40px;
    margin: 0px 0px;
}

.portfolio-title {
    font-size: 100;
    text-align: center;
    margin-bottom: 0px;
}

.portfolio-nav-wrapper {
    text-align: center;
}

.portfolio-nav {
    display: inline-block;
}

.nav-item-1 {
    font-size: 60px;
    padding: 0px 90px;
    border-bottom: 3px solid #373737;
    color: #fc4a1a;
}

.nav-item-2 {
    font-size: 60px;
    padding: 0px 90px;
    margin: 0px -5px;
    border-bottom: 3px solid #373737;
    color: #f7b733;
}

.nav-item-3 {
    font-size: 60px;
    padding: 0px 90px;
    border-bottom: 3px solid #373737;
    color: #4abdac;
}

.portfolio-img {
    width: 480;
    height: 360;
    margin-left: auto;
    margin-right: auto;
    display: block;
}