table{
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    width: 1200px;
    border-collapse: collapse;
}

th, td {
    width: 600px;
    height: 420px;
    border-bottom: 2px solid #999;
    padding: 8px;
}

tr {
    display: none;
}

.project-bottom-link {
    color: #fc4a1a;
    font-weight: bold;
}

.portfolio-link {
    font-size: 40px;
    margin: 0px;
    color: #373737;
    text-decoration: none;
}

.red-link:hover {
    color: #fc4a1a;
}

.yellow-link:hover {
    color: #f7b733;
}

.blue-link:hover {
    color: #4abdac;
}

.portfolio-title {
    font-size: 100;
    text-align: center;
    margin-bottom: 0px;
}

.portfolio-nav-wrapper {
    text-align: center;
    margin-top: 200px;
}

.portfolio-nav {
    display: inline-block;
}

.nav-item {
    font-size: 60px;
    padding: 0px 90px;
    border-bottom: 3px none #373737;
    transition: all 0.5s ease;
}

#web-button {
    color: #fc4a1a;
}

#web-button:hover {
    letter-spacing: 8px;
    padding: 0px 78px;
}

#ml-button {
    margin: 0px -5px;
    color: #f7b733;
}

#ml-button:hover {
    letter-spacing: 7px;
    padding: 0px 34px;
}

#fun-button {
    color: #4abdac;
}

#fun-button:hover {
    letter-spacing: 8px;
    padding: 0px 78px;
}

.portfolio-img {
    width: 480;
    height: 360;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 2px solid #999;
    border-radius: 15px;
}
